@media only screen and (min-width : 320px)
{
    .inner-container{
        width: 98%;
    }
}



@media only screen and (min-width : 1200px)
{
    .inner-container{
        width: 1170px;
    }
}

@media only screen and (max-width: 1900px){
   .logo{
        left: 10px;
       z-index: 99;
    } 
    
    .main-logo__img, .logo__link{
        width: 255px;
        height: 53px;
    }
}



@media only screen and (max-width: 1700px){
    .header .inner-container{
        width: 1024px;
    }
   
}


@media only screen and (max-width: 1500px){
    .header .inner-container{
        width: 900px;
    }
    
    
    .main-menu__item{
        width: calc((100% - 385px) / 3);
    }
    
     .main-menu__item:first-child {
        width: 225px;
    }
    
    .main-menu__item:first-child .main-menu__sub-menu {
        width: 225px;
    }
    
    .main-menu__item:nth-child(4), .main-menu__item:nth-child(4)>.main-menu__sub-menu {
        width: 160px;
    }
    
    .main-menu__sub-menu_right:last-child {
        width: 160px;
    }
    .sub-menu__link{
        font-size: 14px;
    }
    
    .top-banner__main-heading {
        font-size: 74px;
    }
    
    .top-banner__subheading {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1400px){
     .main-logo__img, .logo__link{
        width: 215px;
        height: 46px;
    }
}

@media only screen and (max-width: 1300px){
    
    .header .inner-container {
        width: 780px;
    }
    
    .main-menu__link{
        font-size: 16px;
    }
    
     .sub-menu__link{
        font-size: 14px;
    }
    
     .main-menu__item{
        width: calc((100% - 325px) / 3);
    }
    
    .main-menu__item:first-child {
        width: 165px;
    }
    
    .main-menu__item:first-child .main-menu__sub-menu {
        width: 165px;
    }
   
}


@media only screen and (max-width: 1200px){
    
    .main-logo__img, .logo__link{
        width: 180px;
        height: 39px;
    }
    
    .header .inner-container {
        width: 700px;
    }
    
    .main-menu__item{
        width: calc((100% - 310px) / 3);
    }
    
    .main-menu__item:first-child {
        width: 155px;
    }
    
    .main-menu__item:first-child .main-menu__sub-menu {
        width: 155px;
    }
    
     .main-menu__item:nth-child(4),  .main-menu__item:nth-child(4)> .main-menu__sub-menu {
        width: 155px;
    }
    
    .main-menu__sub-menu_right:last-child {
        width: 155px;
    }
    
     .about__description {
        padding: 0 70px;
    }
    
    .services__list{
        padding: 0 20px;
    }
    
    .btn-small{
        width: 75px;
    }
    .ico-review {
        width: 90px;
    }

    .footer__email-input {
        width: 295px;
    }
    
    .footer_mobile-right{
        padding-left: 10px;
    }
    
    .footer__menu-list{
        padding: 0 10px;
    }
    
    .review-main__ico-info-container{
        padding: 60px 55px 0;
    }
    
}


@media only screen and (max-width: 1024px){
    
    .main-logo__img, .logo__link{
        width: 260px;
        height: 64px;
    }
    
    .top-banner{
        min-height: 400px;
    }
    
    .inner-container{
        width: 100%;
        padding: 0 10px;
    }
    
    .logo {
        left: 55px;
    }
    
    .sub-menu__link{
        padding: 10px 20px;
    }
    
    .main-menu__link:hover,  .main-menu__link:active,  .main-menu__link:focus{
        background-color: #07457c;
    }
    .top-banner__main-heading {
        font-size: 36px;
    }
    
    .top-banner__subheading {
        font-size: 20px;
        max-width: 585px;
    }
    
    .calendar__head> .ico-links{
        display: none;
    }
    
    .ico-list__link{
        width: auto;
    }
    
   
    .calendar__item,  .calendar__item.calendar__head{
        padding-right: 10px !important;
    }
    
    .ico-links-list{
        justify-content: flex-end;
        position: relative;
        padding-right: 13px;
    }
    
    .ico-links-list:before{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: url(../img/blueLine.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .ico-links {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    
    .ico-list__link{
        margin: 2px 10px 5px 40px;    
    }
    
    .ico-links-icon{
        font-size: 24px;
    }
    
    .ico-description{
        width: calc(100% - 595px);
      
    }
    
    .ico-name{
        width: 120px;
    }
    .calendar__item:nth-child(even){
        padding-bottom: 40px;
    }
    
    .calendar__item:nth-child(odd){
        padding-bottom: 40px;
    }
    
      .calendar__item:first-child{
        background: #eeeeee;
        padding-bottom: 10px;
    }
    
    .calendar__item:nth-child(even)  .ico-links{
        bottom: 0px;
    }
    
    .btn-big{
        width: 150px;
    }
    
    .contact-form{
        margin-bottom: 40px;
    }
    
    .submit-btn{
        margin: 0 0 0 auto;
    }
  
    
    .header .inner-container{
        position: relative;
        width: 100%;
        padding: 0;
        height: 80px;
    }
    .mobile-menu{
        display: block;
        position: absolute;
        top: 50%;
        right: 55px;
        transform: translateY(-50%);
        width: 26px;
        height: 25px;
        cursor: pointer;
    }
    
    .mobile-menu__icon{
        position: relative; 
        height: 100%;
    }
    
    .mobile-menu__icon>span{
        display: block;
        width: 25px;
        height: 5px;
        background: #fff;
        border-radius: 2px;
        position: absolute;
        top: 50%;
    }
    
    .mobile-menu__icon_top{
        transform: translateY(-12px);
        transition: all 0.5s;
    }
    
     .mobile-menu__icon_middle{
        opacity: 1;
        transition: all 0.5s;
        transform: translateY(-3px);
    }
    
    .mobile-menu__icon_bottom{
         transform: translateY(6px);
        transition: all 0.5s;
    }
    
    .footer__menu-link {
        font-size: 16px;
    }
    
    .footer__submenu-link{
        font-size: 14px;
    }
    
    .footer__right-text{
        font-size: 16px;
    }
    
    .footer-btn{
        margin-top: 25px;
    }
    
    .footer__social-icon{
        margin-right: 10px;
    }
    
    .footer__social-icon:last-child{
        margin-right: 0;
    }
    
    .main-menu__list{
        display: none;
        background-color: rgba(7, 69, 124, 1);
        padding: 0 0 80px 160px;
        position: absolute;
        width: 100%;
        top: 80px;
    }
    
    .main-menu__item{
        width: 100% !important;
        display: block;
        text-align: left;
    }
    
    
    
    .main-menu__item>.main-menu__link{
        height: auto;
        padding: 15px 10px;
        text-align: left;
        position: relative;
    }
    
     .main-menu__item>.main-menu__link:after{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
         position: absolute;
        background: url(../img/menuBigLine.svg);
         background-repeat: no-repeat;
         background-size: contain;
        bottom: 0;
        left: 0;
         background-position: 0 0;
    }
    
    .main-menu__sub-menu{
        position: static;
        width: 100% !important;
        margin-left: 55px;
    }
    
    .sub-menu__item:after{
        background: url(../img/menuBigLine.svg);
         background-repeat: no-repeat;
         background-size: contain;
        background-position: 0 0;
    }
    
    .main-menu__link i{
        position: absolute;
        right: 140px;
    }
    
    .mobile-menu.active .mobile-menu__icon_middle{
        opacity: 0;
        transition: all 0.5s;
    }
    
    .mobile-menu.active .mobile-menu__icon_top{
        transform: rotate(45deg);
        webkit-transform: rotate(45deg);
        transition: all 0.5s;
    }
    
    .mobile-menu.active .mobile-menu__icon_bottom{
        transform: rotate(-45deg);
        webkit-transform: rotate(-45deg);
        transition: all 0.5s;
    }
    
    .header.active{
        background-color: rgba(7, 69, 124, 1);
        transition: all 0.5s;
        
    }
    
    .footer__social-icon{
        width: 40px;
        height: 40px;
    }
    
    .footer__logo-img, .footer__logo-img{
        width: 250px;
        height: 53px;
    }
    .footer_mobile-right{
        width: calc(100% - 180px); 
    }
    
    .footer__email-input {
        width: 205px;
    }
   
    .review-main__top-block{
        position: relative;
    }
    
    .review-main__ico-description{
        width: 50%;
        font-size: 16px;
        min-height: 360px;
    }
   
    .review-main__ico-info_left{
        width: 50%;
        position: absolute;
        right: 0;
        top: 0;
    }
    .review-main__ico-info{
        margin: 0 0 0 auto;
    }
    
    .review-ico-list__link .ico-links-icon{
        font-size: 24px;
    }
    
    
    .review-main .inner-container{
        padding: 0 55px;
    }
    
    .review-main__ico-info-container{
        padding: 60px 0 0;
        justify-content: space-around;
    }
    
    .review-tabs__buttons{
        padding: 0 55px;
        margin-bottom: 25px;
    }
    .review-tab_review {
        padding: 0 55px 25px;
    }
    
    .p_tab-review{
        font-size: 16px;
    }
    
    .review-tab_team{
        padding: 0 10px;
    }
    
    .team-tab__about{
        padding: 0 45px;
        font-size: 16px;
    }
    
    .team-tab__item{
        margin-left: 20px;
        width: calc((100% - 60px) / 4);
    }
    
    .review-tab_details {
        padding: 0 55px 50px;
    }
    
}

@media only screen and (max-width: 900px){
    .calendar__head_long{
        display: none;
    }
    
    .calendar__head_short{
        display: block;
    }
    
    .ico-discount{
        width: 50px;
    }
    
    .ico-description {
        width: calc(100% - 545px);
    }
    
    .team-tab__item{
        margin-left: calc((100% - 236px * 3) / 2 );
        width: 236px;
    }
    
    .team-tab__item:nth-child(4n+1){
        margin-left: calc((100% - 236px * 3) / 2 );
    }
    
    .team-tab__item:nth-child(1), .team-tab__item:nth-child(3n+1) {
        margin-left: 0;
    }
    
    
}


@media only screen and (max-width: 768px){
    
    .main-logo__img, .logo__link{
        width: 210px;
        height: 45px;
    }
    
    .logo{
        left: 10px;
    }
    
    .top-banner{
        background-image: url(../img/Banner_tablet.jpg);
    }
    
    .header, .header .inner-container {
        height: 54px;
    }
    
    .mobile-menu{
        right: 30px;
    }
    
    .main-menu__list{
        padding: 0 0 80px 130px;
        top: 54px;
    }
    
    .main-menu__link i {
        right: 130px;
    }
    
    .section-title{
        font-size: 30px;
        margin-bottom: 35px;
    }
    
    .about__description{
        padding: 0 60px ;
    }
    
    .section{
        padding-top: 40px;
    }
    
    .about__text{
        font-size: 16px;
    }
    
    
    
    
    .services__list{
        padding: 0;
    }
    
    .services__item:first-child {
        margin-right: 20px;
    }
    
    .services__item {
        padding: 15px 10px;
    }
    
    .services__item-heading{
        margin-bottom: 10px;
    }
    
    .services__item-icon{
        font-size: 100px;
    }
    
    .services__item-description {
        width: calc(100% - 100px);
    }
    
    .btn-big {
        width: 145px;
    }
    
    .btn{
        font-size: 16px;
    }
    
    .calendar-btn:nth-child(2) {
        margin: 0 60px;
    }
    
  
    
    .ico-cap{
        width: 80px;
    }
    
  
    
  
   
    
    .footer__left{
        height: 310px;
    }
    
    
    .footer__logo-img, .footer__logo-img{
        width: 269px;
        height: 60px;
        margin-bottom: 60px;
    }
    
    .footer-top{
        padding: 25px 35px 0 20px;
    }
    
    .footer_mobile-right{
        flex-wrap: wrap;
    }
    
     .footer__social-icon{
        width: 40px;
        height: 40px;
    }
    
    .footer__left, .footer__logo-img{
        width: 270px;
    }
    
    .footer_mobile-right{
        width: calc(100% - 270px); 
    }
    
    .footer__email-input {
        width: 295px;
    }
    
    .footer__right-text{
        margin: 20px 0;
    }
    
    .footer__social-icon {
        margin-right: 10px;
    }
    
    .footer-lable{
        font-size: 14px;
    }
    
    .footer-btn{
        margin-bottom: 15px;
    }
    
    .copyright{
        font-size: 14px;
        padding: 10px 0;
    }
    
    .copyright:before{
        top: -10px;
    }
    
    .footer__right{
        padding: 0 10px;
    }
    
    .footer__right-text{
        line-height: 1.4;
    }
    
    .team-tab__item{
        margin-left: 20px;
        width: calc((100% - 40px) / 3);
    }
    
    .team-tab__item:nth-child(4n+1){
        margin-left: 20px;
    }
    
    .team-tab__item:nth-child(1), .team-tab__item:nth-child(3n+1) {
        margin-left: 0;
    }
    
    .review-main__ico-description{
        width: calc(100% - 340px);
    }
    
    .review-main__video.no-video{
        background-image: url(../img/video_tablet.jpg);
    }

}

@media only screen and (max-width: 740px){
    
    .top-banner__subheading{
        margin: 50px auto 40px;
    }
    
    .ico-days {
        font-size: 12px;
    }
    
    .ico-timeline {
        width: 125px;
    }
    
    .calendar__head>div{
        font-size: 16px;
    }
    
    .ico-description{
        padding: 0;
    }
    
    .ico-cap{
        font-size: 14px;
    }
    
    .ico-links-icon {
        font-size: 20px;
    }
    
    .ico-list__link {
        margin: 2px 10px 5px 20px;
    }
    
    .footer-top {
        padding: 20px 10px 0 10px;
    }
    
    .footer__social-icon {
        margin-right: 5px;
    }
    
    .footer__left, .footer__logo-img {
        width: 238px;
    }
    
    .footer__social-icon {
        width: 30px;
        height: 30px;
    }
    
    .footer__left, .footer__logo-img {
        width: 190px;
    }
    
    .footer_mobile-right {
        width: calc(100% - 190px);
    }
    
    .review-main__ico-info_left{
        width: 330px;
    }
    
    .review-main__ico-description {
        width: calc(100% - 330px);
    }
    
    .review-main .inner-container {
        padding: 0 35px;
    }
    
    .review-tab_review {
        padding: 0 35px 25px;
    }
    
    .review-tabs__buttons{
        padding: 0 35px;
    }
    .review-tab_details {
        padding: 0 35px 50px;
    }
    
    .review-tabs__buttons > .tab-btn{
        width: 130px;
    }
}

@media only screen and (max-width: 620px){
    
     .top-banner{
        min-height: 350px;
    }
    
    .main-menu__link i {
        right: 20px;
    }
    
    .main-menu__list {
        padding: 0 50px 50px;
    }
    
    .top-banner__subheading{
        margin: 50px 30px 55px;
    }
    
    .services__item-description{
        font-size: 14px;
    }
    
    .services__item-heading{
        font-size: 16px;
    }
    
    .services__item-description{
        padding-left: 5px;
    }
    
    .services__item:first-child {
        margin-right: 10px;
    }
    
    .calendar-btn:nth-child(2) {
        margin: 0 10px;
    }
    
   .calendar__item>div {
        text-align: left;
    }
    
    .calendar__item_starred:before{
        top: 5px;
        left: auto;
        right: 5px !important;
    }
  
    .ico-links-list{
        padding-right: 0;
    }
    .ico-cap{
        margin-top: 10px;
    }
    .ico-cap-name{
        margin-top: 0;
    }
    
    .ico-list__link{
        margin: auto;
    }
    
    .ico-links-icon {
        font-size: 24px;
    }
    
    .calendar__item:first-child{
        display: none;
    }
    
    .calendar__item_mobile{
        display: flex;
        padding: 10px 20px;
    }
    
    .calendar__item_desctop{
        padding: 0px 20px;
        position: relative;
        display: none;
    }
    
    .calendar__item_desctop:before{
       content: '';
        top: -10px;
        left: 0;
        height: 1px;
        display: block;
        position: absolute;
        background: url(../img/infoBlueLine.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    
    .item_mobile__dropdown-link{
        color: #1e73be;
        transition: all 0.5s;
        transform: rotate(0deg);
        webkit-transform: rotate(0deg);
    }
    
    .item_mobile__ico-image{
        margin-bottom: 5px;
    }
    
    .item_mobile__logo{
        text-align: center;
        padding: 0;
    }
    
    
    .item_mobile__right-info{
        padding-left: 10px;
        width: calc(100% - 60px);
    }
    
    
    .item_mobile__name{
        font-size: 18px;
        color: #212121;
        font-weight: 400;
        padding-right: 26px;
    }
    
    
    .item_mobile__ico-pic{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid #1e73be;
    }
    
   
    
    .calendar__item_desctop>div{
        width: 100%;
    }
    
    .ico-name{
        display: none;
    }
    
    .calendar__item {
        padding-right: 0 !important;
    }
    
    
    .ico-description{
        font-size: 18px;
    }
    
    
    .ico-timeline{
        text-align: center;
        position: relative;
        padding: 10px 0;
    }
    
    .ico-timeline:after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 100%;
        background: url(../img/infoBlueLine.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .ico-days{
        font-size: 18px;
    }
    
    .circle>strong{
        top: 47%;
        font-size: 18px;
    }
    
    .ico-discount{
        margin: 20px 0 25px;    
    }
    
    .ico-links-list{
        justify-content: center;
    }
    
    .ico-links-list:before{
        display: none;
    }
    
    .ico-links-list, .ico-links{
        position: relative;
        color: #424242;
    }
    
    .ico-review{
        margin-bottom: 20px;
    }
    
    .ico_m-label{
        display: block;
        margin-right: 10px;
    }
    
    .ico-slide-up{
        display: block;
        color: #424242;
        display: block;
        text-align: center;
        padding: 10px;
      
    }
    
    .calendar__item_mobile.open .item_mobile__dropdown-link i{
        transform: rotate(180deg);
        webkit-transform: rotate(180deg);
        transition: all 0.5s;
    }
    
    .calendar__item:nth-child(even), .calendar__item:nth-child(odd) {
        padding-bottom: 0;
    }
    
    .btn-small{
        width: 260px;
        font-size: 20px;
         padding: 20px 5px;
    }
    
    .ico-cap, .ico-discount{
        font-size: 18px;
    }
    
    .ico-cap>*, .ico-discount>*{
        display: inline-block;
    }
    
    
    .item_mobile__progress{
        margin-top: 15px;
        position: relative;
        
    }
   

    .footer__menu-list{
        width: 50%;
    }
    .footer__email-input{
        width: 100%;
    }
    
    
    .review-main__video {
        width: 460px;
        height: 280px;
    }
    
       
    .team-tab__item{
        
        width: 236px;
    }
    
    .team-tab__item:nth-child(n){
        margin-left: calc(100% - 236px * 2);
    }
    
    .team-tab__item:nth-child(1), .team-tab__item:nth-child(2n+1){
        margin-left: 0;
    }
    
    .review-tabs__buttons {
        padding: 0 10px;
    }
    
    .review-tab_details {
        padding: 0 10px 50px;
    }
    
    .team-tab__about {
        padding: 0 25px;
    }
    
    .review-tabs__buttons > .tab-btn{
        width: 120px;
    }
    
    .review-tab_review {
        padding: 0 10px 25px;
    }
    
    .team-tab__about{
        padding: 0;
    }
    
    .review-main .inner-container {
        padding: 0 10px;
    }
    
    .review-circle.circle>strong{
        font-size: 16px;
    }
    
    .review-main__ico-description {
        width: calc(100% - 310px);
    }
}

@media only screen and (max-width: 560px){
    .services__list{
        display: block;
    }
    
    .section-title{
        margin-bottom: 30px;
    }
    .services__item:first-child{
        margin-right: auto;
    }
    
    .services__item{
        background: #fff;
        margin: 0 auto 30px;
        width: 80%;
    }
    
    
    .services__item:last-child{
        margin-bottom: 0;
    }
    
    .services__item-heading {
        font-size: 24px;
    }
    
    .services__item-description{
        font-size: 18px;
        padding-left: 15px;
    }
    
    .calendar-btn{
        width: 260px;
        margin-bottom: 30px !important;
    }
    
    .calendar__list {
        margin-top: 0;
    }
    
    .calendar-bottom-btn{
        width: 260px;
    }
    
    .form-input_half{
        width: 100%;
        display: block;
        margin-bottom: 30px;
    }
    
    .form-section {
        margin-bottom: 30px;
    }
    
    .submit-btn{
        width: 260px;
        margin: 0 auto;
    }
    
    .footer-top{
        padding: 0 0 160px;
        display: block;
        position: relative;
    }
    
    .footer__left{
        height: auto;
        width: 100%;
        padding-top: 15px;
    }
    
     .footer__logo-img, .footer__logo-img{
        width: 269px;
        height: 60px;
        margin-bottom: 60px;
        
    }
    
    .footer_mobile-right{
        width: 100%;
        padding-left: 0;
    }
    
    .footer__menu-list{
        width: auto;
    }
    
    .footer__menu-link, .footer__submenu-link {
        font-size: 16px;
    }
    
    .footer .inner-container{
        padding: 0 50px;
    }
    
    .footer__right, .footer__menu-list{
        padding: 0;
    }
    
    .footer__right{
        width: 100%;
    }
    
    .footer-btn{
        width: 260px;
        margin: 30px 0 30px auto;
    }
    
    .footer__social-list{
        width: 290px;
        max-width: 290px;
        
        position: absolute;
        bottom: 0;
    }
    
    .footer-follow{
        position: absolute;
        bottom: 120px;
    }
    
    .footer__social-icon {
        width: 40px;
        height: 40px;
    }
    
    .footer__social-icon {
        margin-right: 18px;
        
    }
    
    .footer__social-icon:nth-child(5){
        margin-right: 0;
    }
    
    .review-tabs__buttons > .tab-btn{
        width: 100px;
    }
    
    .review-main__ico-description {
        width: 100%;
        min-height: auto;
    }
    
    .review-main__ico-info_left{
        position: static;
        width: 300px;
        margin: 0 auto 30px;
    }
    
    .review-main__ico-info-container{
        display: block;
        text-align: center;
    }
    
    .review-main__ico-info-container{
        padding: 30px 0 0;
        text-align: center;
    }
    
    .review-main__video{
        margin: 0 auto;
    }
    
    .team-tab__item:nth-child(n) {
        margin-left: 20px;
        width: calc((100% - 20px) / 2);
        max-width: 265px;
    }
    
    .team-tab__item:nth-child(odd) {
        margin-left: 0
        
    }
}


@media only screen and (max-width: 470px){
    
    .header, .header .inner-container{
        height: 44px;
    }
    
    .top-banner{
        min-height: 300px;
        background-image: url(../img/Banner_mobile.jpg);
   
    }
    
   .main-logo__img, .logo__link {
        width: 170px;
        height: 37px;
    }
    
    .top-banner__main-heading {
        font-size: 30px;
    }
    
    .mobile-menu{
        right: 23px;
    }
    
    .main-menu__list {
        padding: 15px 10px;
    }
    
    .main-menu__list{
        top: 43px;
    }
    
    .about__description {
        padding: 0 20px;
    }
    
    .top-banner__subheading{
        font-size: 16px;
    }
    
    .services__item{
        display: block;
        margin: 0 20px 30px;
        width: calc(100% - 40px);
        padding: 15px 30px;
    }
    
    .ico-cap, .ico-discount {
        font-size: 16px;
    }
    
    .services__item-image{
        text-align: center;
    }
    
    .services__item-description{
        width: 100%;
        padding-left: 0;
    }
    
    .services__item-heading{
        margin: 15px auto 10px;
        text-align: center;
    }
    
    .footer__menu-list:first-child{
        max-width: 147px;
    }
    
     .review-main__video{
       width: 360px;
         height: 320px;
    }
    
    .review-tabs__buttons{
        display: block;
        text-align: center;
    }
    
    .review-tabs__buttons > .tab-btn {
        width: 260px;
        margin: 0 auto 30px;
    }
    
    .details-table td{
        display: block;
        padding-bottom: 15px;
    }
    
    .details-table td.details_bold > br{
        display: none;
    }
    
    .details_bold{
        padding-right: 0;
        text-align: center;
    }
    
    .review-tab_details-heading{
        font-size: 24px;
        text-align: center;
        padding: 15px 0;
    }
    
    .review-tab_details-heading:after{
        background: url(../img/infoBlueLine.svg);
        background-size: contain;
        background-position-x: center;
        background-repeat: no-repeat;
    }
        
    .team-tab__item:nth-child(n) {
        margin: 0 auto 20px;
        width: 236px;
        max-width: 236px;
        float: none;
    }
    
    .review-main__video.no-video{
        background-image: url(../img/video_mobile.jpg);
    }
}

@media only screen and (max-width: 380px){
    
    
    
    .inner-container{
        padding: 0 15px;
    }
    
    .calendar .inner-container{
        padding: 0 5px;
    }
    
     .top-banner{
        min-height: 250px;
    }
    
    .top-banner__subheading{
        display: none;
    }
    
    .btn-banner:last-child {
        margin-right: auto;
    }
    
    .top-banner__buttons{
        margin: 60px auto;
        text-align: center;
    }
    
    .btn{
        font-size: 18px;
        padding: 20px 5px;
    }
    
    .btn-big{
        width: 260px;
    }
    
    .btn-banner{
        display: block;
        margin: 0 auto 20px;
    }
    
    
    .about__description{
        padding: 0;
    }
    
    .services__item {
        display: block;
        margin: 0 0 30px;
        width: 100%;
        padding: 15px 10px 20px;
    }
    
    
    .calendar__item_mobile{
        padding: 10px;
    }
    
    .calendar__item_desctop{
        padding: 10px;
    }
    .calendar-btn{
        font-size: 20px;
        padding: 15px 10px;
    }
    
    
    
    .ico_m-label{
        margin-right: 0;
    }
    
   
    
    .footer-btn, .calendar-bottom-btn, .submit-btn{
         padding: 15px 10px;
    }
    
    .footer .inner-container{
        padding: 0 15px;
    }
    
    .copyright{
        font-size: 13px;
    }
    
    .review-main__video {
        width: 300px;
        height: 250px;
        background-size: cover;
        background-position: center top; 
    }
    
    
    .tab-btn {
        font-size: 20px;
        padding: 15px 5px;
    }
}

@media only screen and (min-width : 320px) and (max-width : 580px) and (orientation: landscape)
{
    .top-banner__subheading{
        font-size: 14px;
        margin: 30px;
    }
   
}